@model MealPlanner.Models.Meal

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/delete_styles.css" />

<div class="container">
    <div class="content">
        <h1 class="main-title">Delete Meal</h1>
        <p class="tagline">Confirm deletion</p>

        <div class="description">
            <h4>Meal Details</h4>
        </div>

        <dl class="dl-row">
            <dt>@Html.DisplayNameFor(model => model.Name)</dt>
            <dd>@Html.DisplayFor(model => model.Name)</dd>
            <dt>@Html.DisplayNameFor(model => model.AddedDate)</dt>
            <dd>@Html.DisplayFor(model => model.AddedDate)</dd>
            <dt>@Html.DisplayNameFor(model => model.Ingredients)</dt>
            <dd>@Html.DisplayFor(model => model.Ingredients)</dd>
            <dt>@Html.DisplayNameFor(model => model.CookingTime)</dt>
            <dd>@Html.DisplayFor(model => model.CookingTime)</dd>
            <dt>@Html.DisplayNameFor(model => model.Rating)</dt>
            <dd>@Html.DisplayFor(model => model.Rating)</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" />
            <a asp-action="Index" class="button-link">Back to List</a>
        </form>
    </div>
</div>

    
    
