@model MealPlanner.Models.Meal

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/details_styles.css" />

<div class="container">
    <h1>Meal Details</h1>

    <h4>Meal</h4>
    <dl class="row">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.AddedDate)</dt>
        <dd>@Html.DisplayFor(model => model.AddedDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.Ingredients)</dt>
        <dd>
            @if (Model.Ingredients != null && Model.Ingredients.Any())
            {
                <ul>
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <li>@ingredient.Name</li>
                    }
                </ul>
            }
            else
            {
                <p>No ingredients available.</p>
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.CookingTime)</dt>
        <dd>@Html.DisplayFor(model => model.CookingTime)</dd>

        <dt>@Html.DisplayNameFor(model => model.Rating)</dt>
        <dd>@Html.DisplayFor(model => model.Rating)</dd>
    </dl>

    
    <div class="button-container" style="margin-top: 1rem;">
        <a asp-action="Index" class="cta-button" style="background-color: transparent; border-style: solid;">Back to List</a>
    </div>
</div>
